{% extends 'layout/basic.html' %}

{% block title %}Введення нового пароля{% endblock %}

{% block content %}

{% if validlink %}

<h1>Введіть новий пароль двічі!</h1>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Змінити мій пароль">
</form>

{% else %}

<div class="about__container">
    <p class="about__name">Не вдалося скинути пароль</p>
    <div class="about__info">
        <p>Посилання для скидання пароля неактивне, так як було вже використано.
            Будь ласка, запитайте новий пароль для скидання. Для цього знову скиньте пароль на сайті.</p>
    </div>
</div>

{% endif %}
{% endblock %}