{% extends "admin/base_site.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}"></a> /
{% endif %} Змінити пароль  / <a href="{% url 'admin:logout' %}">Вийти</a>{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">Головна</a>
        &rsaquo; Зміна пароля
    </div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}
    <div id="content-main">
        <form method="post">{% csrf_token %}
            <div>
                {% if form.errors %}
                    <p class="errornote">
                        {% if form.errors.items|length == 1 %}
                            Будь ласка, виправте помилку нижче. {% else %}
                            Будь ласка, виправте помилки нижче.
                        {% endif %}
                    </p>
                {% endif %}
                <p>Будь ласка, для безпеки введіть свій старий пароль, а потім двічі введіть новий пароль, щоб
                    ми могли перевірити, чи правильно ви його ввели.</p>
                <fieldset class="module aligned wide">
                    <div class="form-row">
                        {{ form.old_password.errors }}
                        {{ form.old_password.label_tag }} {{ form.old_password }}
                    </div>
                    <div class="form-row">
                        {{ form.new_password1.errors }}
                        {{ form.new_password1.label_tag }} {{ form.new_password1 }}
                        {% if form.new_password1.help_text %}
                            <div class="help">Ваш пароль не може бути занадто схожий на іншу вашу особисту
                                інформацію.<br/>
                                Ваш пароль повинен містити як мінімум 8 символів.<br/>
                                Ваш пароль не може бути часто використовуваним паролем.<br/>
                                Ваш пароль не може бути повністю цифровим.
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-row">
                        {{ form.new_password2.errors }}
                        {{ form.new_password2.label_tag }} {{ form.new_password2 }}
                        {% if form.new_password2.errors %}
                            <div class="help">Два введених пароля повинні збігатися.</div>
                        {% endif %}
                    </div>
                </fieldset>
                <div class="submit-row">
                    <input type="submit" value="Змінити пароль" class="default">
                </div>
            </div>
        </form>
    </div>
{% endblock %}