{% extends 'layout/basic.html' %}

{% block title %}Введення нового пароля{% endblock %}

{% block content %}

    {% if validlink %}

        <h1>Введіть новий пароль двічі!</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Змінити мій пароль">
        </form>

    {% else %}

        <p>"Посилання для скидання пароля неактивне, так як було вже використано.
            Будь ласка, запитайте новий пароль для скидання. Для цього знову скиньте пароль на сайті."</p>
    {% endif %}
{% endblock %}