{% load bootstrap4 %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1,  shrink-to-fit=no">
    <title>{% block title %}Головна{% endblock %} - Дошка оголошень</title>
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
    {% bootstrap_javascript jquery='slim' %}
</head>
<body>
<header class="header">
    <div class="logo">
        <a href="{% url 'main:index' %}"> <img src="{% static 'main/khpi.jpg' %}" alt="logo" class="logo__img">
        </a>
        <p class="logo__name"><a class="logo__link" href="{% url 'main:index' %}">Кафедра стратегічного управління <br>
            НТУ ХПИ</a></p>
        <div class="hamburger__container navbar-toggler" data-toggle="collapse" data-target="#navbarNav"
             aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" onclick="myFunction(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </div>
    <nav class="navigation">
        <div class="collapse navbar-collapse hamburger__item-list" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if user.is_anonymous %}
                <li class="sidebar_item dropdown-item"><a class="sidebar_item-link" href="{% url 'main:index' %}">Загальні
                    оголошення</a></li>
                <li class="sidebar_item dropdown-item"><a class="sidebar_item-link"
                                            href="{% url 'main:list_schedule' %}">Розклад</a></li>
                <li class="sidebar_item dropdown-item"><a class="sidebar_item-link" href="{% url 'main:other' page='about' %}">Про
                    сайт</a></li>

                {% elif user.is_teacher %}
                {% for group in groups %}
                {% ifchanged group.super_group.pk %}
                <span class="nav-link root font-weight-bold">
                {{ group.super_group.name }}</span>
                {% endifchanged %}
                <li class="sidebar_item dropdown-item"><a class="sidebar_item-link" href="{% url 'main:by_group' pk=group.pk %}">
                    {{ group.name|slice:20 }}</a></li>
                {% endfor %}
                {% else %}
                <li class="sidebar_item"><a class="sidebar_item-link" href="{% url 'main:index' %}">Загальні
                    оголошення</a>
                </li>
                <li class="sidebar_item"><a class="sidebar_item-link" href="{% url 'main:student_profile' %}">Оголошення
                    для моєї групи</a></li>
                <li class="sidebar_item"><a class="sidebar_item-link" href="{% url 'main:other' page='about' %}">Про
                    сайт</a>
                </li>
                {% endif %}
            </ul>
        </div>
        {% if user.is_anonymous %}
        <div class="navigation__item"><a class="navigation__item-link" href="{% url 'main:register' %}">Реєстрація</a>
        </div>
        {% endif %}
        {% if user.is_authenticated %}
        {% if user.is_teacher %}
        <a class="nav-link dropdown-toggle navigation__item-link user-name" data-toggle="dropdown" href="#"
           role="button" aria-haspopup="true"
           aria-expanded="false">{{ user.last_name }}
            {{ user.first_name }} {{ user.teacher.middle_name }}</a>
        {% else %}
        <a class="nav-link dropdown-toggle navigation__item-link user-name" data-toggle="dropdown" href="#"
           role="button" aria-haspopup="true" aria-expanded="false">{{ user.last_name }}
            {{ user.first_name }}</a>
        {% endif %}
        <div class="dropdown-menu">
            {% if user.is_teacher %}
            <a class="dropdown-item" href="{% url 'main:profile' %}">Мої оголошення</a>
            <a class="dropdown-item" href="{% url 'main:teacher_subjects' %}">Мої дисципліни</a>
            <a class="dropdown-item" href="{% url 'main:list_schedule' %}">Розклад</a>
            <a class="dropdown-item" href="{% url 'main:profile_teacher_change' %}">Змінити особисті
                данні</a>
            <a class="dropdown-item" href="{% url 'main:password_change' %}">Змінити пароль</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'main:logout' %}">Вийти</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'main:profile_teacher_delete' %}">Видалити акаунт</a>
            {% else %}
            <a class="dropdown-item" href="{% url 'main:student_subjects' %}">Мої дисципліни</a>
            <a class="dropdown-item" href="{% url 'main:student_schedule' %}">Розклад моєї групи</a>
            <a class="dropdown-item" href="{% url 'main:profile_change' %}">Змінити особисті данні</a>
            <a class="dropdown-item" href="{% url 'main:password_change' %}">Змінити пароль</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'main:logout' %}">Вийти</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'main:profile_delete' %}">Видалити акаунт</a>
        </div>
        {% endif %}
        {% else %}
        <div class="navigation__item"><a class="navigation__item-link" href="{% url 'main:login' %}">Вхід</a></div>
        {% endif %}
    </nav>
</header>
<main class="main">
    <aside class="sidebar">
        {% if user.is_anonymous %}
        <div class="sidebar_item"><a class="sidebar_item-link" href="{% url 'main:index' %}">Загальні
            оголошення</a></div>
        <div class="sidebar_item"><a class="sidebar_item-link"
                                     href="{% url 'main:list_schedule' %}">Розклад</a></div>
        <div class="sidebar_item"><a class="sidebar_item-link" href="{% url 'main:other' page='about' %}">Про
            сайт</a></div>

        {% elif user.is_teacher %}
        {% for group in groups %}
        {% ifchanged group.super_group.pk %}
        <span class="nav-link root font-weight-bold">
                {{ group.super_group.name }}</span>
        {% endifchanged %}
        <div class="sidebar_item"><a class="sidebar_item-link" href="{% url 'main:by_group' pk=group.pk %}">
            {{ group.name|slice:20 }}</a></div>
        {% endfor %}
        {% else %}
        <div class="sidebar_item"><a class="sidebar_item-link" href="{% url 'main:index' %}">Загальні оголошення</a>
        </div>
        <div class="sidebar_item"><a class="sidebar_item-link" href="{% url 'main:student_profile' %}">Оголошення
            для моєї групи</a></div>
        <div class="sidebar_item"><a class="sidebar_item-link" href="{% url 'main:other' page='about' %}">Про сайт</a>
        </div>
        {% endif %}
    </aside>

    <section class="main-info_container">
        {% bootstrap_messages %}
        {% block content %}
        {% endblock %}
    </section>
</main>

<script src="{% static 'scripts/main.js' %}"></script>
</body>
</html>