{% extends 'layout/basic.html' %}

{% load thumbnail %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
Розклад
{% endblock %}

{% block content %}
<section class="schedule">
    {% if ais %}
    <div class="schedule__header">
        <p class="schedule__name">Расписание группы {{ sh.group.name }}</p>
    </div>
    <table class="calendar table table-bordered">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th width="20%">Понедельник</th>
            <th width="20%">Вторник</th>
            <th width="20%">Среда</th>
            <th width="20%">Четверг</th>
            <th width="20%">Пятница</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>08:30</td>
            {% if sbs_monday %}
            {% if first_lesson|length == 2 %}
            <td class=" has-events">
                {% for sb in first_lesson %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% elif first_lesson|length == 1 %}
            <td class=" has-events">
                {% for sb in first_lesson %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}


            {% if sbs_tuesday %}
            {% if first_lessonTU|length == 2 %}
            <td class=" has-events">
                {% for sb in first_lessonTU %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% elif first_lessonTU|length == 1 %}
            <td class=" has-events">
                {% for sb in first_lessonTU %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}


            {% if sbs_wednesday %}
            {% if first_lessonTH|length == 2 %}
            <td class=" has-events">
                {% for sb in first_lessonW %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% elif first_lessonW|length == 1 %}
            <td class=" has-events">
                {% for sb in first_lessonW %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}


            {% if sbs_thursday %}
            {% if first_lessonTH|length == 2 %}
            <td class=" has-events">
                {% for sb in first_lessonTH %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% elif first_lessonTH|length == 1 %}
            <td class=" has-events">
                {% for sb in first_lessonTH %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}


            {% if sbs_friday %}
            {% if first_lessonF|length == 2 %}
            <td class=" has-events">
                {% for sb in first_lessonF %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% elif first_lessonF|length == 1 %}
            <td class=" has-events">
                {% for sb in first_lessonF %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}

        </tr>

        <tr>
            <td>10:25</td>
            {% if sbs_monday %}
            {% if second_lesson|length == 2 %}
            <td class=" has-events">
                {% for sb in second_lesson %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% elif second_lesson|length == 1 %}
            <td class=" has-events">
                {% for sb in second_lesson %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}


            {% if sbs_tuesday %}
            {% if second_lesson|length == 2 %}
            <td class=" has-events">
                {% for sb in second_lessonTU %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% elif second_lesson|length == 1 %}
            <td class=" has-events">
                {% for sb in second_lessonTU %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}


            {% if sbs_wednesday %}
            {% if second_lessonW|length == 2 %}
            <td class=" has-events">
                {% for sb in second_lessonW %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% elif second_lessonW|length == 1 %}
            <td class=" has-events">
                {% for sb in second_lessonW %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}


            {% if sbs_thursday %}
            {% if second_lessonTH|length == 2 %}
            <td class=" has-events">
                {% for sb in second_lessonTH %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% elif second_lessonTH|length == 1 %}
            <td class=" has-events">
                {% for sb in second_lessonW %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}


            {% if sbs_friday %}
            {% if second_lessonF|length == 2 %}
            <td class=" has-events">
                {% for sb in second_lessonF %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% elif second_lessonF|length == 1 %}
            <td class=" has-events">
                {% for sb in second_lessonF %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}

        </tr>

        <tr>
            <td>12:35</td>
            {% if sbs_monday %}
            {% if third_lesson|length == 2 %}
            <td class=" has-events">
                {% for sb in third_lesson %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% elif third_lesson|length == 1 %}
            <td class=" has-events">
                {% for sb in third_lesson %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}


            {% if sbs_tuesday %}
            {% if third_lesson|length == 2 %}
            <td class=" has-events">
                {% for sb in third_lessonTU %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% elif third_lesson|length == 1 %}
            <td class=" has-events">
                {% for sb in third_lessonTU %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}


            {% if sbs_wednesday %}
            {% if third_lessonW|length == 2 %}
            <td class=" has-events">
                {% for sb in third_lessonW %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% elif third_lessonW|length == 1 %}
            <td class=" has-events">
                {% for sb in third_lessonW %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}


            {% if sbs_thursday %}
            {% if third_lessonTH|length == 2 %}
            <td class=" has-events">
                {% for sb in third_lessonTH %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% elif third_lessonTH|length == 1 %}
            <td class=" has-events">
                {% for sb in third_lessonW %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}


            {% if sbs_friday %}
            {% if third_lessonF|length == 2 %}
            <td class=" has-events">
                {% for sb in third_lessonF %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% elif third_lessonF|length == 1 %}
            <td class=" has-events">
                {% for sb in third_lessonF %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}

        </tr>

        <tr>
            <td>14:30</td>
            {% if sbs_monday %}
            {% if fourth_lesson|length == 2 %}
            <td class=" has-events">
                {% for sb in fourth_lesson %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% elif fourth_lesson|length == 1 %}
            <td class=" has-events">
                {% for sb in fourth_lesson %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}


            {% if sbs_tuesday %}
            {% if fourth_lesson|length == 2 %}
            <td class=" has-events">
                {% for sb in fourth_lessonTU %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% elif fourth_lesson|length == 1 %}
            <td class=" has-events">
                {% for sb in fourth_lessonTU %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}


            {% if sbs_wednesday %}
            {% if fourth_lessonW|length == 2 %}
            <td class=" has-events">
                {% for sb in fourth_lessonW %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% elif fourth_lessonW|length == 1 %}
            <td class=" has-events">
                {% for sb in fourth_lessonW %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}


            {% if sbs_thursday %}
            {% if fourth_lessonTH|length == 2 %}
            <td class=" has-events">
                {% for sb in fourth_lessonTH %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% elif fourth_lessonTH|length == 1 %}
            <td class=" has-events">
                {% for sb in fourth_lessonW %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}


            {% if sbs_friday %}
            {% if fourth_lessonF|length == 2 %}
            <td class=" has-events">
                {% for sb in fourth_lessonF %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% elif fourth_lessonF|length == 1 %}
            <td class=" has-events">
                {% for sb in fourth_lessonF %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}

        </tr>
        <tr>
            <td>16:25</td>
            {% if sbs_monday %}
            {% if fifth_lesson|length == 2 %}
            <td class=" has-events">
                {% for sb in fifth_lesson %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% elif fifth_lesson|length == 1 %}
            <td class=" has-events">
                {% for sb in fifth_lesson %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}


            {% if sbs_tuesday %}
            {% if fifth_lesson|length == 2 %}
            <td class=" has-events">
                {% for sb in fifth_lessonTU %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% elif fifth_lesson|length == 1 %}
            <td class=" has-events">
                {% for sb in fifth_lessonTU %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}


            {% if sbs_wednesday %}
            {% if fifth_lessonW|length == 2 %}
            <td class=" has-events">
                {% for sb in fifth_lessonW %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% elif fifth_lessonW|length == 1 %}
            <td class=" has-events">
                {% for sb in fifth_lessonW %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}


            {% if sbs_thursday %}
            {% if fifth_lessonTH|length == 2 %}
            <td class=" has-events">
                {% for sb in fifth_lessonTH %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% elif fifth_lessonTH|length == 1 %}
            <td class=" has-events">
                {% for sb in fifth_lessonW %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}


            {% if sbs_friday %}
            {% if fifth_lessonF|length == 2 %}
            <td class=" has-events">
                {% for sb in fifth_lessonF %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% elif fifth_lessonF|length == 1 %}
            <td class=" has-events">
                {% for sb in fifth_lessonF %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}

        </tr>
        <tr>
            <td>18:10</td>
            {% if sbs_monday %}
            {% if sixth_lesson|length == 2 %}
            <td class=" has-events">
                {% for sb in sixth_lesson %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% elif sixth_lesson|length == 1 %}
            <td class=" has-events">
                {% for sb in sixth_lesson %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}


            {% if sbs_tuesday %}
            {% if sixth_lesson|length == 2 %}
            <td class=" has-events">
                {% for sb in sixth_lessonTU %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% elif sixth_lessonTU|length == 1 %}
            <td class=" has-events">
                {% for sb in sixth_lessonTU %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}


            {% if sbs_wednesday %}
            {% if sixth_lessonW|length == 2 %}
            <td class=" has-events">
                {% for sb in sixth_lessonW %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% elif sixth_lessonW|length == 1 %}
            <td class=" has-events">
                {% for sb in sixth_lessonW %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}


            {% if sbs_thursday %}
            {% if sixth_lessonTH|length == 2 %}
            <td class=" has-events">
                {% for sb in sixth_lessonTH %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% elif sixth_lessonTH|length == 1 %}
            <td class=" has-events">
                {% for sb in sixth_lessonW %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}


            {% if sbs_friday %}
            {% if sixth_lessonF|length == 2 %}
            <td class=" has-events">
                {% for sb in sixth_lessonF %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% elif sixth_lessonF|length == 1 %}
            <td class=" has-events">
                {% for sb in sixth_lessonF %}
                <div class="row-fluid lecture" style="width: 100%; height: 100%;">
                    <span class="title"> {{ sb.1 }}</span>
                    <span
                            class="lecturer"><a>{{ sb.2 }} {{ sb.3 }} {{ sb.4 }}</a></span>
                    <span class="location">{{ sb.5 }} {{ sb.6 }}</span>
                </div>
                {% endfor %}
            </td>
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}
            {% else %}
            <td class=" no-events" rowspan="1"></td>
            {% endif %}

        </tr>
        </tbody>
    </table>
    {% else %}
    <div class="about__container">
        <p class="about__name"></p>
        <div class="about__info">
            <p>На даний момент для вашої групи не були розподілені пари. Дочекайтеся розподілу
                від адміністратора сайту.</p>
        </div>
    </div>
    {% endif %}
    <p>
        <a href="{% url 'main:list_schedule' %}">
            <button class="to-schedule-list">До списку розкладів</button>
        </a></p>
</section>
{% endblock %}
