{% extends 'layout/basic.html' %}

{% load bootstrap4 %}

{% block title %}Зміна пароля{% endblock %}

{% block content %}
<div class="registration edit-password">
    <div class="registration__header">
        <p class="registration__name">Зміна пароля акаунту {{ user.email }}</p>
    </div>
    <div class="registration__form">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
            {% buttons submit='Змінити пароль' %}{% endbuttons %}
        </form>
    </div>
    {% if user.is_teacher %}
    <p class="btn-cancel_container"><a href="{% url 'main:profile' %}">
        <button class="btn-cancel btn-edit-comment">Відміна</button>
    </a></p>
    {% else %}
    <p class="btn-cancel_container"><a href="{% url 'main:student_profile' %}">
        <button class="btn-cancel edit-teacher-info">Відміна</button>
    </a></p>
    {% endif %}
</div>
{% endblock %}