{% extends 'layout/basic.html' %}

{% load bootstrap4 %}

{% block title %}Скидання пароля{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="registration registration-new-user">
    <div class="registration__header">
        <p class="registration__name">Забули пароль?</p>
    </div>
    <h3><i class="fa fa-lock fa-4x lock-icon"></i></h3>
    <div class="registration__form forget-password">
        <p>Введіть ваш e-mail:</p>
        <form method="post">
            {% csrf_token %}
            <div class="forget-password__form">
                {{ form }}
            </div>
            {% buttons submit='Змінити пароль' %}{% endbuttons %}
        </form>
        <div class="registration__buttons">
            <a href="{% url 'main:login' %}">
                <button class="btn-cancel">Відміна</button>
            </a></div>
    </div>
</div>
{% endblock %}