{% extends "layout/basic.html" %}

{% load bootstrap4 %}
{% block title %}
{{ bb.title }}Додання оголошення - Профіль користувача
{% endblock %}

{% block content %}
<div class="about__container add-ads__container">
    <p class="about__name">Додати оголошення</p>
    <div class="about__info">
        <div class="registration__form">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
            {% bootstrap_formset formset layout='horizontal' %}
            {% buttons submit='Додати' %}{% endbuttons %}
        </form>
        </div>
        <p class="btn-cancel_container"><a href="{% url 'main:profile' %}">
            <button class="btn-cancel btn-edit-comment">Відміна</button>
        </a></p>
    </div>
</div>
{% endblock %}