{% extends "layout/basic.html" %}

{% load bootstrap4 %}
{% block title %}
    Редагування оголошення {{ bb.title }}
{% endblock %}

{% block content %}
    <h2>Редагування оголошення "{{ bb.title }}"</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        {% bootstrap_formset formset layout='horizontal' %}
        {% buttons submit='Редагувати' %}{% endbuttons %}
    </form>
    <p><a href="{% url 'main:profile' %}">
        <button class="btn-cancel">Відміна</button>
    </a></p>
{% endblock %}