{% extends 'layout/basic.html' %}

{% load bootstrap4 %}

{% block title %}Реєстрація{% endblock %}

{% block content %}
<div class="registration registration-new-user">
    <div class="registration__header">
        <p class="registration__name">Реєстрація нового користувача</p>
    </div>
    <div class="registration__form">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
            {% buttons submit='Зареєструватися' %}
            {% endbuttons %}
        </form>
        <div class="registration__buttons">
            <a href="{% url 'main:register_teacher' %}">
                <button class="btn-i-am-teacher">Я викладач</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}