{% extends 'layout/basic.html' %}

{% block title %}Реєстрація завершена{% endblock %}

{% block content %}
<div class="about__container">
    <p class="about__name">Реєстрація</p>
    <div class="about__info">
        <p>Реєстрація користувача завершена.</p>
        <p>Ви зареєструвались із правами викладача.</p>
        <p>Адміністратор сайту повинен підтвердити вашу особистість, і в разі успішного підтвердження, на вашу пошту прийде
            лист для активації облікового запису.</p>
    </div>
</div>
{% endblock %}