{% extends 'layout/basic.html' %}

{% load bootstrap4 %}

{% block title %}Реєстрація викладача{% endblock %}

{% block content %}
<div class="registration">
    <div class="registration__header">
        <p class="registration__name">Реєстрація нового викладача</p>
    </div>
    <div class="registration__form registration__form-teacher">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
            {% buttons submit='Зареєструватися' %}{% endbuttons %}
        </form>
    </div>
    <div class="registration-return__button">
        <a href="{% url 'main:register' %}">
            <button class="btn-cancel btn-add-new-teacher">Назад</button>
        </a>
    </div>
</div>
{% endblock %}